<html>
<head>
</head>
<body>
<title>Search to find about!!</title>
<div class="wiki-container"  style =background-color:black;>
  <div class="wiki-search"  style =background-color:pink;>
    <div class="container text-center">
      <h1><i class="wikipedia-w"></i></h1>
      <small><em style = font-size:50px;>Google GraphSearch API </em></small>
      <form onsubmit="submit()">
        <div class="input-group" >
          <input type="text" class="form-control" #searchText placeholder="Search..">
          <button type="button" class="btn btn-info" (click)="submit()">OK</button><br>
            <i class="search1"></i>
          </div>
      </form>
      <div *ngIf="isLoading" class="loading">
      <i class="spinner2"></i>
    </div>
  </div>
    <div class="container wiki-pages">
    <ul class="list-group" *ngFor="let page of pages">
        <li class="list-group-item">
          <a href="{{page.page}}" target="_blank" class="btn-block">
            <h4>{{page.title}}</h4>
            <p>{{page.body}}</p>
          </a>
        </li>
    </ul>
  </div>
</div>
</div>
</body>
</html>
